ENVIRONMENT=RL_DB_DEV
RL_LOGO_CDN_URL=CDN_URL_WHERE_LOGO_IS_SERVED

ALLOWED_DOMAINS=domain1.com,domain2.net,...
SESSION_TTL_SECONDS=NUMBER_OF_SECONDS_TO_KEEP_THE_USER_LOGGED_IN
OAUTH_STATE_TTL=NUMBER_OF_SECONDS_TO_GIVE_TO_USER_TO_SIGN_IN_USING_GOOGLE
EMAIL_VERIFICATION_TTL=NUMBER_OF_SECONDS_UNITL_EMAIL_VERIFICATION_LINK_EXPIRY
PASSWORD_RESET_TTL=NUMBER_OF_SECONDS_UNTIL_PASSWORD_RESET_LINK_EXPIRY


SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

BACKEND_CORS_ORIGINS=http://localhost:5173,URL_TO_ANOTHER_ORIGIN,...

FRONTEND_URL=

APPS_SCRIPT_API_SECRET=YOUR_APPS_SCRIPT_SUPER_SECRET_KEY
APPS_SCRIPT_API_URL=YOUR_APPS_SCRIPT_ENDPOINT_URL
APPS_SCRIPT_API_CALL_TIMEOUT=MAX_TIME_IN_SECONDS_TO_WAIT_FOR_APPS_SCRIPT_TO_RESPOND


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_AUTH_URL=
GOOGLE_TOKEN_URL=

DB_TYPE=postgresql
DB_DRIVER=                      #   needs an async driver, ex: asyncpg
DB_DRIVER_MIGRATION=            #   needs a sync driver,   ex: psycopg2
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=                        # name of the database in the server
DB_ECHO=false                   # for debugging, flip to true for debug
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=1800
DB_POOL_PRE_PING=true


REDIS_HOST=
REDIS_PORT=
REDIS_PATH=
REDIS_MAX_CONNECTIONS=40
